<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @video do |f| %>
    
    <div class="field">
        <%= f.label :動画 %>
        <%= f.file_field :video %>
    </div>

    <div class="field">
        <%= f.label :内容 %>
        <%= f.text_field :body, :size => 30 %>
    </div>

    <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", videos_path %>