<%= form_for @postag do |f| %>

    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>
    
    <div class="field">
        <%= f.label :名前 %>
        <%= f.text_field :name, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :内容 %>
        <%= f.text_field :body, :size => 30 %>
    </div>

    <%= f.submit "編集する" %>
<% end %>
<%= link_to '← 戻る', request.referer || root_path %>