<%= form_for @post do |f| %>

    <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>

    <div class="field">
        <%= f.label :名前 %>
        <%= f.text_field :name, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :性別  %>
        <%= f.select :sex, 
        [["選択してください", "選択してください"], 
        ["男", "男"], 
        ["女", "女"]], include_blank: "選択して下さい" %>
    </div>

    <div class="field">
        <%= f.label :年齢  %>
        <%= f.number_field :number, :size => 10 %>
    </div>

    <div class="field">
        <%= f.label :誕生日  %>
        <%= f.text_field :date, type: "date" %>
    </div>

    <div class="field">
        <%= f.label :プロフィール  %>
        <%= f.text_area :body, :size => "30x2" %>
    </div>

    <%= f.submit "編集する" %>
<% end %>
<%= link_to '← 戻る', request.referer || root_path %>