<div class="posts-index">
  <h1>自分の題名</h1>
  <%= link_to "新規投稿へ", new_post_path, class: "btn" %>
  <%= link_to "家計簿", calculations_path, class: "btn" %>
  <%= link_to "ページネーション有り", posts_paginate_path, class: "btn" %>
  <%= link_to "タグ機能", postags_path, class: "btn" %>
  <%= link_to "プルダウン機能", postdropdowns_path, class: "btn" %>
  <%= link_to "動画投稿機能", videos_path, class: "btn" %>

  <h3>投稿一覧</h3>
  <div class="posts-container">
    <% @posts.each do |t| %>
      <div class="post">
        <%= t.user.email %>
        <% if t.image.attached? %>
          <%= image_tag t.image, size: '250x200'%>
        <% end %>
        <%= t.name %>
        <%= t.sex %>
        <%= t.number %>
        <%= t.date %>
        <%= t.body %>

        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to post_like_path(id: t.id, post_id: t.id), class: "like-link", data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-thumbs-up"></i>&nbsp;<%= t.likes.count %>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(id: t.id, post_id: t.id), class: "like-link", data: { turbo_method: :post }  do %>
              <i class="fa-regular fa-thumbs-up"></i>&nbsp;<%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <i class="fa-regular fa-thumbs-up"></i>&nbsp;<%= t.likes.count %>
        <% end %>

        <%= link_to "詳細へ", post_path(t.id) %>
      </div>
    <% end %>
  </div>
</div>